
@{
    ViewBag.Title = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body {
            background-image: url("flight.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
    <hgroup style="text-align:center;">
        <h1>Unknown Error</h1>
        <h2>An unknown error has occurred. Please try after some time</h2>
    </hgroup>
</body>
</html>

